<div id="<%= dom_id email_group %>">
  <p>
    <strong>Name:</strong>
    <%= email_group.name %>
  </p>

  <p>
    <strong>Group email:</strong>
    <%= email_group.group_email %>
  </p>

  <p>
    <strong>Message count:</strong>
    <%= email_group.message_count %>
  </p>

</div>
